<center>
<h1>Recipes<h1>
<ul class="small-block-grid-2">
	<li><%= link_to( "Add A Recipe","/recipes/new" )  %> </li>
	<li><%= link_to( "Search Recipes", "/recipes/search")  %> </li>
</ul>
<table>
	<thead> 
		<tr>
			<th width="400" >
				<center>Recent Recipes</center>
			</th> 
		</tr>
	</thead>
	<tbody>
		<% @recipes.each do |recipes| %>
			<%= render 'recipes.html.erb', recipes: recipes  %> 
		<% end %> 
	</tbody>
</table>
</center>
<%= will_paginate @recipes %> 
