<!--<div class="row" >
	<div class="small-3 columns"> </div>
	<div class="small-9 columns"> </div>
</div>
-->
<div class="large-5 columns">
    <h1><%= @recipe.name %>:</h1>
    <p>Preptime: <%= @recipe.preptime %></p>
    <p>Cooktime: <%= @recipe.cooktime %></p>
    <p>Directions: <%= @recipe.directions%></p>
</div>
