<div class="left_bar">
<!--
< if !current_user.nil? %>
    < if !Customer.find(current_user.id).thumbnails.nil? %>
    < Customer.find(current_user.id).thumbnails.each do |url| %>
        <ul class="example-orbit" data-orbit>
        <li> <img src="<=url%>" alt="asd" />
        <div class="orbit-caption"> Caption one. </div> </li> </ul>
        </div>
    < end %>
    < end %> 
    < end %>-->
    <p></p>
</div>
