<div class="row">
<div class="small-2 large-4 columns">
<p>
<%= image_tag @customer.avatar.url %>
</p>
</div> 
<div class="small-6 large-8 columns">
<p>  
  <div class="small-6 large-6 columns">
        <table width="300"> 
            <thead>
                <tr>
                    <th>
                        Current Shopping List
                    </th>
                </tr>
            </thead>
            <tbody>
            <!-- generate _items -->
                <tr>
                    <td>Item 1</td>
                </tr>
                <tr>
                    <td>Item 2</td>
                </tr>
                <tr>
                    <td>Item 3</td>
                </tr>
            </tbody>
        </table>
    </div>
	</p>
		<p>
      <div class="small-6 large-6 columns">
        <table width="200"> 
            <thead>
                <tr>
                    <th>
                       Selected Coupons
                    </th>
                </tr>
            </thead>
            <tbody>
            <!-- generate _coupons -->
                <tr>
                    <td>Coupon 1</td>
                </tr>
                <tr>
                    <td>Coupon 2</td>
                </tr>
                <tr>
                    <td>Coupon 3</td>
                </tr>
			    </tbody>
        </table>
    </div>
	</div>
</p> 
</div> 
<div class="row">
<div class="small-3 columns">
<table> 
    <thead>
        <tr>
            <th>
                Total Savings
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>$213.93</td>
        </tr>
    </tbody>
</table>
</div>
<div class="small-9 columns">
    <ul class="small-block-grid-3">
		<% @recipes.each do |recipe| %>
			<%= render  'recipes/customer_recipe.html.erb', recipe: recipe %>
		<% end %> 
    </ul>
</div>
</div>
